*{
	box-sizing: border-box;

}


body{
	border: 0px;
	margin: 10px;
	margin-left: 20px;
	padding: 0px;

}

h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: red;
	text-align: center;
}
section{

	margin-right: 10px;
	float: left;
	margin-top: 20px;
	padding: 0px; 
	border:2px solid black;
	background: #9999FF;
}
section p{
	
	margin-top: 40px;
	padding: 10px;

}
section div{
	float: right;
	padding: 10px;
	border: 1px solid black;

}
.rose div{
	background: #FF9999;
}
.sunflower div{
	background: #FFFF99;
}
.lily div{
	background:#FFCCCC;
}

@media(min-width: 992px){
	section{
		width: 31.33%;
		
	}
	
}

@media(min-width:768px) and (max-width: 991px){
	section{
		width:45%;
		/*float: left;*/
	}
	.lily {
		width: 92%;
		
	}
}
section>div{
	font-family: "Comic Sans MS", cursive, sans-serif;
}